.App {
  font-family: sans-serif;
  text-align: center;
}

.description {
  text-transform: capitalize;
}

h1 {
  font-size: 48px;
  color: white;
}

ul {
  list-style: none;
  font-size: 30px;
  color: white;
}

body {
  background: radial-gradient(
    993px at 0.5% 98.5%,
    rgb(0, 239, 247) 0%,
    rgb(0, 122, 147) 46.7%,
    rgb(0, 29, 72) 100.2%
  );
}
